@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
          integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="Asses/main.css">
    <link rel="stylesheet" href="Asses/style.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/all.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.2.0/css/sharp-solid.css">
    <link rel="icon" type="image/png" href="Img/icon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap" rel="stylesheet">
    <title>BOTANICAL</title>
</head>

<body>
    <div id="header">
        <div class="header-navbar">
            <ul class="header-navbar-list">
                <li><a href="#">HOME</a></li>
                <li>
                    <a href="#">
                        SHOP
                        <i class="fa-light fa-chevron-down"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        ACCESSORIES
                        <i class="fa-light fa-chevron-down"></i>
                    </a>
                </li>
                <li><a href="#">SPECIALS</a></li>
                <li>
                    <a href="#">
                        BLOG
                        <i class="fa-light fa-chevron-down"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="header-title">
            <h3 class="header-title__name">Botanical</h3>
        </div>
        <div class="header-search">
            <div class="header-search-entire">
                <input type="text" class="header-search-entire__text" placeholder="Search entire store here ...">
                <li class="fa-regular fa-magnifying-glass"></li>
            </div>
            <ul class="header-search-button">
                <li class="fa-light fa-user"></li>
                <li class="fa-light fa-heart"></li>
                <li class="fa-light fa-bag-shopping"></li>
            </ul>
        </div>
    </div>

</body>
</html>